.ContactData {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 20px auto;
    width: 80%;
    text-align: center;
    border: 1px solid #ccc;
    background-color: floralwhite;
}


.ContactData button:hover {
    background-color: lightgray;
}

@media (min-width: 600px) {
    .ContactData {
        width: 500px;
    }
}